.animal-main-container {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}

.title-animal-main {
    color: #50473A;
    font-size: 40px;
    font-weight: 300px;
    margin: 0 0 24px 144px;
}

.animal-table-container {
    display: flex;
    align-self: center;
    width: 90%;
}

.animal-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.animal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #b5a78d;
    border-radius: 20px;
    margin: 16px 16px;
    width: 290px;
    padding: 20px 0px;
    background-color: #F2F1ED;
    color: #3f382e;
    font-size: 17px;
}

.animal-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    width: 230px;
    background-color: #F2F1ED;
    margin: 8px 0px;
    overflow: hidden;
}

.animal-photo img {
    max-width: 100%; /* забезпечує, що зображення не виходить за межі ширини контейнера */
    max-height: 100%; /* забезпечує, що зображення не виходить за межі висоти контейнера */
    height: auto; /* зберігає пропорції зображення */
    width: auto; /* зберігає пропорції зображення */
    object-fit: contain; /* забезпечує, що зображення вміщується повністю в контейнер */
}

.grup-animal-info {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.animal-info-button {
    display: flex;
    justify-content: center;
    padding: 3px 0px;
    margin-top: 10px;
    width: 75%;
    border-radius: 10px;
    border: 3px solid #92846F;    
    background-color: #eae1d5;
    cursor: pointer;
}