.container {
  display: flex;
  height: 100%;
}

.shelter-photo-greeting {
  flex: 4;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 110px;
}

.photo-container {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 55px;
}

.selected-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.shelter-options {
    padding: 20px 0;
    width: 300px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.active-shelter-option {
  background: #d8cfb9;
  height: 65px;
  border: none;
  color: #000;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

.inactive-shelter-option {
  background: none;
  height: 65px;
  border: none;
  color: #000;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

.shelter-options img {
    width: 23px;
    margin: 0 10px 0px 15px;
}

.shelter-options-open {
    flex: 9;
    height: 100%;
    justify-content: start;
    padding-top: 110px;
    padding-left: 10px;
}

.shelter-greeting {
    color: #000;
    font-size: 35px;
    margin-bottom: 108px;
    margin-top: 60px;
}

.shelter-edit-info{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.shelterEditInfo-field {
  margin-bottom: 15px;  
  padding: 12px 0 0 15px;
  text-align: left;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #ffeac1;
  background: #fffbf4;
  width: 90%
}

.shelterEditInfo-field-desc {
  margin-bottom: 15px;  
  padding: 12px 0 0 15px;
  text-align: left;
  height: 150px;
  border-radius: 4px;
  border: 1px solid #ffeac1;
  background: #fffbf4;
  width: 90%
}

.shelterEditInfo-field-desc label,
.shelterEditInfo-field label {
  display: flex;
  height: 16px;
  color: #9d99ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.shelterEditInfo-field input {
  margin-top: 7px;
  outline: none;
  display: flex;
  background: #fffbf4;
  border: none;
  align-items: flex-start;
  font-size: 14px;
  gap: 8px;
  width: 95%;
}

.shelterEditInfo-field-desc textarea {
    margin-top: 5px;
    outline: none;    
    border:none;
    align-items: flex-start;
    background: #fffbf4;
    font-size: 14px;
    gap: 8px;
    width: 96%;
    height: 75%;
}

.shelterInfo {
  font-size: 20px;
  border-radius: 20px;
  background: #fff;
  padding: 5px 20px;
  width: 90%;
}
