.create-animal-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: rgb(255, 248, 240);
    cursor: default;
    color: #645A4C;
}

.create-animal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(159, 133, 62, 0.311);
}

.create-animal-modal-content {  
    display: flex;
    flex-direction: column;

}

.create-animal-close {
  position: absolute;
  right: 20px;
  top: 5px;
  cursor: pointer;
  font-size: 25px;
}

.create-animal-header{
    color: rgba(36, 29, 17, 0.79);
    text-align: center;
    font-size: 21px;
    padding: 10px 0;
}

.animal-name{
    height: 50px;
    margin: 15px auto;
    padding: 8px 0 0 10px;
    text-align: left;
    width: 340px;
    border-radius: 4px;
    border: 1px solid #FFEAC1; 
    background: #fff;
}

.animal-sex,
.animal-type {
    margin: 15px auto;
}

.animal-desc{   
    height: 100px;
    margin: 15px auto;
    padding: 8px 0 0 10px;
    text-align: left;
    width: 340px;
    border-radius: 4px;
    border: 1px solid #FFEAC1; 
    background: #fff;
}

.animal-type label,
.animal-desc label, 
.animal-name label {  
  display: block;
  height: 16px;
  width: 100%;
  color: #9D99AC;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px; 
}

.animal-name input { 
  margin-top: 5px;
  outline: none;  
  border: none;  
  align-items: flex-start;
  font-size: 14px;
  gap: 8px;
  width: 95%;
}

.animal-desc textarea {
    margin-top: 5px;
    outline: none;    
    border:none;
    align-items: flex-start;
    font-size: 16px;
    gap: 8px;
    width: 95%;
    height: 60%;
}

.select-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.year {
    margin-left: 14px;
}

.month{
    margin-left: 14px;
}

.create-animal-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-animal-button{
    padding: 8px 0px;
    margin-top: 10px;
    font-size: 16px;
    color: #574d40;
    width: 95%;
    border-radius: 16px;
    border: 1px solid #b6a892;    
    background-color: #faf6ef;
    cursor: pointer;
    transition: all 500ms ease;
}

.create-animal-button:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 2px 0px #cbbda3;
}

@media (max-width: 500px) {
    .modal{
        width:75%;
    }
    .animal-name{
        width: 95%;
    }
    .animal-desc{   
        width: 95%;
    }

}