/* Стилі для шапки */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D8CFB9;
  color: #fff;
  padding: 17px 70px;
}

.header-left a {
  color: #241D11;
  text-decoration: none;
  margin-right: 20px;
  font-size: 17px;
}

a {
  text-decoration: none;
}

.userName-header {
  color: rgba(36, 29, 17, 0.65);
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
}

.logout-button,
.login-button {
  background-color: #D8CFB9;
  color: #F2F1ED;
  border: 2px solid #F2F1ED;
  letter-spacing: 1px;
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;  
  font-size: 16px;
}
.signup-button {
  background-color: #F2F1ED;
  color: #645A4C;
  letter-spacing: 1px;
  border: none;
  padding: 6px 16px;
  border-radius: 50px;
  margin-left: 15px;
  cursor: pointer;  
  font-size: 16px;
}

